<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294936448891-hfg9sj35cr874hgl7pkdtilbgtkvp5i8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294936448891-hfg9sj35cr874hgl7pkdtilbgtkvp5i8</string>
	<key>API_KEY</key>
	<string>AIzaSyC7g0k-nHN4gX0-dvmCtdYg5uQWiGTbIDU</string>
	<key>GCM_SENDER_ID</key>
	<string>294936448891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codacityllc.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-44b3f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-44b3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294936448891:ios:14856514d562e50d2937de</string>
</dict>
</plist>